*.bnddir
*.cllebndpgm
*.cllemod
*.cnxmod
*.cnxpgm
*.dspfile
*.entrymod
*.entrysrv
*.lgcfile
*.lvl2mod
*.lvl2pgm
*.pffile
*.pgm
*.prtfile
*.rpglemod
*.rpglepgm
*.sql1
*.sql2
*.sql3
*.sqlobj
*.sqlrpgmod
*.sqlrpgpgm
*.sqltemp
*.srvpgm


